body {
    margin: 0%;
    padding: 0%;
}

.header {
    height: 31em;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contact */

.header__contact {    
    background-color: #000;
    margin: 2rem auto 0% auto;
    line-height: 1em;
   
    border-style: solid;
    border-color: rgb(53, 52, 52);
    border-width:1px;
    border-radius: .3rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header__contact--ul{    
    padding: 0%;
    display: inline;
}
.header__contact--ul li {
    list-style-type: none;
    display: inline;  
}

.header__contact--ul a {
    color: rgb(177, 174, 174);
    text-decoration: none;
    padding: 2rem; 
    line-height: 1.5rem;   
}

/* logo */
.header__logo {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto auto auto;
    justify-content: center;
    text-align: center;
 
}

.header__logo h1 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.header__logo p {
    color: rgb(127, 124, 124);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 0.9em;
    margin-top: -1em;
}

/* main skills*/

.main__skills--title {
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    /* box-shadow: 2px 2px 15px 0 #000; */
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  
    width: 20%;
    height: 3.5rem;
    min-width: 9rem;

    margin-top: -2em;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    border-color: rgb(180, 180, 180);
    border-width: 1px;
    border-bottom: none;
}

.main__skills--img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: -1.5rem;
    padding-bottom: 10.5rem;
    padding-top: 6rem;
    background: rgb(255, 255, 255);

}
#git:hover{
    background: #fff;
}

/* main projects */
.main__projects--title {
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    /* box-shadow: 2px 2px 15px 0 #000; */
    color: rgb(0, 0, 0);
    background:#ffffff;

    width: 20%;
    height: 2rem;
    min-width: 9rem;

    margin-top: -1.7em;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-bottom: none;
}

.ln{
    
    background:#fd0303;

    width: 20%;
    height:.2rem;
    min-width: 9rem;

    
    margin-top: -1px;
    position:absolute;
    margin-left: ;
    
}

.main__projects--contents {
   
    padding-top:3rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    background:#ffffff;
    color: #000;

    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-bottom: none;

}

.main__projects--p1 {
    color: #000;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    
   justify-content: space-evenly;
}

.main__projects--p1--descripsion{
    margin-top: rem;
    width: 50%;
    color: rgb(255, 255, 255);
    color: #000;
}

.main__projects img {
    width: 15rem;
    padding: 4rem;
}

/* main___ Perfil */


.main__perfil--title{
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    /* box-shadow: 2px 2px 15px 0 #000; */
    color: #000;
    background: #C5C5C5;
    width: 20%;
    height: 2rem;
    min-width: 9rem;

    margin-top: -1.6em;
    margin-left: auto;
    margin-right: auto;

}
.main__perfil--documents{
    background: #C5C5C5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 7rem;
    padding-top: 6rem;
 
}

.perfil__documents--personal{
    position: relative;
    background:rgba(0, 0, 255, 0.155);
    width: 250px;
    height: 300px;
    min-width: 250px;
    
}

.perfil__documents--personal img{
    width: 100%;
    height: 100%;
    /* transition: all 500ms ease ease-out; */
}
.perfil__documents--personal .txt{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
   
    background: #03382f8b;
    color: #fff;
    /* transition: all 5000ms ease ease-out; */
    opacity: 0;
    visibility:hidden;
    /* text-align: center; */
    
}
.perfil__documents--personal:hover{
    width: 300px;
    height: 400px;
}

.perfil__documents--personal:hover > .txt {
    opacity: 1;
    visibility: visible;  
    transition: 3s ease ease-out;
}

/* cv */
.perfil__documents--cv{
    width: 250px;
    height: 300px;
}

.perfil__documents--cv img{
    width: 100%;
    height: 100%;
}
.perfil__documents--cv:hover{
    width: 300px;
    height: 400px;
   
}

/* documentos */
.perfil__documents--document{
    width: 250px;
    height: 300px;
}

.perfil__documents--document img{
    border: 1px solid;
    width: 100%;
    height: 100%;
}

.perfil__documents--document:hover{
    width: 300px;
    height: 400px;

}