html {
    overflow-x: hidden !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

body {
    padding: 0% !important;
    overflow-x: hidden !important;



}

.header {
    height: 31em;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contact */

.header__contact {
    background-color: #000;
    margin: 2rem auto 0% auto;
    line-height: 1em;

    border-style: solid;
    border-color: rgb(53, 52, 52);
    border-width: 1px;
    border-radius: .3rem;

    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-bottom: 3rem;
}

.header__contact--ul {
    padding: 0%;
    display: inline;
}

.header__contact--ul li {
    list-style-type: none;
    display: inline;
}

.header__contact--ul a {
    color: rgb(177, 174, 174);
    text-decoration: none;
    padding: 2rem;
    line-height: 1.5rem;
}

/* logo */
.header__logo {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto auto auto;
    justify-content: center;
    text-align: center;
}

/* nombre */
.header__logo h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: auto auto 3rem auto;
}

/* descripcion */
.header__logo p {
    color: rgb(127, 124, 124);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1rem;
    margin-top: -1em;
}

/* main__skills (habilidades)*/
.main__skills--title {
    line-height: 2.5em;
    text-align: center;
    font-size: 1.7em;
    font-weight: 800;
    letter-spacing: .2em;

    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);

    width: 25%;
    height: 5rem;
    min-width: 15rem;

    margin: -2.5rem auto auto auto;

    box-shadow: 1px -50px 30px 12px rgb(0, 0, 0);
}

.main__skills--img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    white-space: 1rem;
    background: rgb(255, 255, 255);

    padding: 6rem 1rem 10.5rem 1rem;
}

.main__skills--img img {
    margin: 1rem 1rem auto 1rem;
}

#git:hover {
    background: #fff;
}

/* main__projects */
.main__projects--title {
    line-height: 2.5em;
    text-align: center;
    font-size: 1.7em;
    font-weight: 800;
    letter-spacing: .2em;

    color: rgb(0, 0, 0);
    width: 25%;
    height: 5rem;
    min-width: 15rem;

    margin: auto auto -2.3rem auto;

    border-style: solid;
    border-color: rgb(151, 151, 151);
    border-width: 1px;

    box-shadow: 1px 7px 20px 5px rgb(199, 199, 199);
}

/* barra para ocultaer el borde inferior del titulo */
.line {
    background: #ffffff;
    width: 25%;
    height: 1rem;
    min-width: 15rem;
    margin-top: -1.6rem;
    position: absolute;
}

/* proyectos */
.main__projects--contents {
    max-width: 125rem;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: #000;

    border-style: solid;
    border-color: rgb(151, 151, 151);
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/* proyecto #1 */
.main__projects--prjct1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
}

.main__projects--prjct1--descripsion {
    margin-top: rem;
    width: 50%;
    color: rgb(255, 255, 255);
    color: #000;
}

.main__projects img {
    width: 15rem;
    padding: 4rem;
}

/* main___ Perfil */
.main__perfil--title {
    line-height: 3.7rem;
    text-align: center;
    font-size: 1.7em;
    font-weight: 800;
    letter-spacing: .2em;

    color: rgb(0, 0, 0);
    background: #E7E7E7;
    width: 25%;
    height: 3.4rem;
    min-width: 15rem;
    margin: auto auto -.7rem auto;

    box-shadow: 0px 10px 20px 10px rgb(206, 205, 205);
    position: relative;
}

/* barra para ocultaer el borde inferior del titulo */
.line2 {
    background: #E7E7E7;
    width: 100%;
    height: 4em;
    min-width: 15rem;
    margin-top: -1rem;
    position: relative;
}

/* para todos los contenidos */
.main__perfil--documents {
    background: #E7E7E7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 1rem 7rem 1rem;
}

.perfil__documents div a {
    padding-left:2.5rem;
}
/* hoja de vida */
.perfil__figure--cv {
    width: 250px;
    padding-top: 6rem;
}

.perfil__figure--cv img {
    width: 100%;
    height: 100%;
}

/* documentos(titulos) */
.perfil__figure--document {
    width: 250px;
  padding-top: 6rem;

}

.perfil__figure--document img {
    border: 1px solid;
    width: 100%;
    height: 100%;
    
}

@media screen and (max-width: 757px) {

    .header {
        height: 27rem;
    }

    .header__logo h1 {
        font-size: 2rem;
    }

    .main__skills--img img {
        width: 6rem;
        padding: 0;
        margin: 0%;
    }

    .main__projects--prjct1--descripsion {
        width: 90%;
        text-align: center;
    }

    .perfil__figure--cv {
        width: 12rem;
        height: auto; 
    }

    .perfil__figure--document {
        width: 12rem;
        height: auto;
    }
}