body {
    margin: 0%;
    padding: 0%;
}

.header {
    height: 26em;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contact */

.header__contact {
    min-width: 30%;
    height: 70px;
    background-color: #000;
    margin: auto auto auto auto;
    line-height: 2em;
   

    border-style: solid;
    border-color: rgb(113, 111, 111);
    border-width: 1px;
    border-radius: .5rem;

    display: flex;
    justify-content: space-evenly;
    
}

.header__contact--ul li {
    list-style: none;
    display: inline;
    padding: 1rem;
}

.header__contact--ul a {
    color: #fff;
    text-decoration: none;
}

/* logo */
.header__logo {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto 8% auto;
    justify-content: center;
    text-align: center;
}

.header__logo h1 {
    text-transform: uppercase;
    letter-spacing: .2em;
}

.header__logo p {
    color: rgb(127, 124, 124);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 0.9em;
    margin-top: -1em;
}

/* main skills*/

.main__skills--title {
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    /* box-shadow: 2px 2px 15px 0 #000; */
    color: #000;
    background: #7A7A7A;
    width: 15em;
    height: 3.5rem;

    margin-top: -2em;
    margin-left: auto;
    margin-right: auto;
}

.main__skills--img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: -1.5rem;
    padding-bottom: 70px;
    padding-top: 2rem;
    background: #7A7A7A;
}

/* main projects */
.main__projects--title {
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    /* box-shadow: 2px 2px 15px 0 #000; */
    color: #000;
    background: rgb(253, 253, 253);
    width: 15em;
    height: 2em;

    margin-top: -1.5em;
    margin-left: auto;
    margin-right: auto;
}

.main__projects--contents {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.main__projects--p1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-right: auto;
    margin-left: auto;

}

.main__projects p {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.main__projects img {
    width: 20rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;

}