body {
    margin: 0%;
    padding: 0%;
}

.header {
    height: 26em;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contact */

.header__contact {
    min-width: 30%;
    height: 50px;
    background-color: #000;
    margin: 4% auto 0% auto;
    line-height: 2.5em;
   

    border-style: solid;
    border-color: rgb(113, 111, 111);
    border-width: 1px;
    border-radius: .5rem;

    display: flex;
    justify-content: space-evenly;
    
}

.header__contact--ul li {
    list-style: none;
    display: inline;
    padding: 1rem;
}

.header__contact--ul a {
    color: #fff;
    text-decoration: none;
}

/* logo */
.header__logo {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto auto auto;
    justify-content: center;
    text-align: center;
 
}

.header__logo h1 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.header__logo p {
    color: rgb(127, 124, 124);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 0.9em;
    margin-top: -1em;
}

/* main skills*/

.main__skills--title {
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    /* box-shadow: 2px 2px 15px 0 #000; */
    color: rgb(255, 255, 255);
    background: #000;
  
    width: 30%;
    height: 3.5rem;
    min-width: 9rem;

    margin-top: -2em;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    border-color: rgb(250, 250, 250);
    border-width: 1px;
}

.main__skills--img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: -1.5rem;
    padding-bottom: 100px;
    padding-top: 2rem;
    background: #000;

    border-style: solid;
    border-color: rgb(250, 250, 250);
    border-width: 1px;
}
#git:hover{
    background: #fff;
}

.div{
    width: 30%;
    height: 3.5rem;
    min-width: 9rem;
    background: rgb(0, 0, 0);
    position: absolute;
    margin-top: 410px;
}

/* main projects */
.main__projects--title {
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    /* box-shadow: 2px 2px 15px 0 #000; */
    color: #000;
    background: #0F3532;
    width: 30%;
    height: 2rem;
    min-width: 15px;

    margin-top: -1.7em;
    margin-left: auto;
    margin-right: auto;
    
}

.main__projects--contents {
  
    padding-top:3%;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: #0F3532;

}

.main__projects--p1 {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-right: auto;
    margin-left: auto;

}

.main__projects p {
    justify-items: center;
    width: 50%;
    margin: auto auto auto auto;
    color: #fff;
   
 
}

.main__projects img {
    width: 15rem;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
}

/* main___ Perfil */
.main__perfil{
    height: 1000px;
}

.main__perfil--title{
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
    /* box-shadow: 2px 2px 15px 0 #000; */
    color: #000;
    background: #feffff;
    width: 30%;
    height: 2rem;
    min-width: 15px;

    margin-top: -1.6em;
    margin-left: auto;
    margin-right: auto;

}
.main__perfil--documents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4rem;
 
}

.perfil__documents--personal{
    position: relative;
    background:rgba(0, 0, 255, 0.155);
    width: 250px;
    height: 300px;
    min-width: 250px;
    
}

.perfil__documents--personal img{
    width: 100%;
    height: 100%;
    /* transition: all 500ms ease ease-out; */
}
.perfil__documents--personal .txt{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
   
    background: #03382f8b;
    color: #fff;
    /* transition: all 5000ms ease ease-out; */
    opacity: 0;
    visibility:hidden;
    /* text-align: center; */
    
}

.perfil__documents--personal:hover > .txt{
    opacity: 1;
    visibility: visible;
  
    transition: all 5000ms ease ease-out;

}

/* cv */
.perfil__documents--cv{
    width: 250px;
    height: 300px;
}

.perfil__documents--cv img{
    width: 100%;
    height: 100%;
}
.perfil__documents--cv:hover{
    width: 500px;
    height: 600px;
}
